.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 900px;
    margin: auto;
}

.search-welcome {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 2%;
}

.search-bar {
    display: flex;
    text-align: left;
}