.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home-searchcontainer {
    background: linear-gradient(90deg, rgba(2,30,52,1) 0%, rgba(1,182,252,1) 100%);
    width: 1300px;
    margin-bottom: 10px;
    padding: 20px;
}