.navbar {
  background-color: grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
}

.logo {
  width: 3rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
