.navbar {
  background-color: var(--secondary);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  padding: 0 1rem;
}

.logo {
  fill: white;
  height: 4rem;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
