.movie-card {
  padding-top: 40px;
  margin: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.movie-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.movie-poster-container {
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 440px;
}
.movie-poster {
  height: 400px;
  border: 1px solid rgb(16, 16, 16);
  overflow: hidden;
  display: inline-block;
}
.movie-poster > img {
  height: 100%;
  width: 100%;
}

.movie-text-container {
  justify-content: center;
  align-items: center;
  width: 30%;
}

.movie-description {
  color: rgb(200, 200, 200);
  justify-content: center;
  align-items: center;
}
.movie-rating {
  color: rgb(200, 200, 200);
  justify-content: center;
  align-items: center;
}
