.movie_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  max-width: 10rem;
  gap: 1rem;
  max-width: 10rem;
  transition: transform 0.2s;
  position: relative;
}

.movie_card:hover {
  transform: scale(1.1);
}

.poster {
  align-self: center;
  max-width: 10rem;
  position: relative;
}

.image {
  max-height: 14rem;
  border-radius: 5px;
}

.movie_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: left;
  text-align: left;
  gap: 0.3rem;
  padding: 0.3rem;
}

.release_year {
  opacity: 1;
}

.circle_text {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
